body {
  background-image: url('../img/lctfowsi27e-glauber-sampaio.jpg');;
  background-size: 100%;

  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
