<!DOCTYPE html>
<html ng-app="TripPin">
  <head>
    <title>TripPin</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="./stylesheets/style.css" />

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>

    <!-- GoogleMap API (*** Yoshi's key used here) -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcMVZlEWQaqAnEdvkXSoZaeCFjhZqBVXA"></script>

            
    <!-- Our JS Code -->
    <script src='gservice/globalVars.js'></script>
    <script src='gservice/convertToMapPoints.js'></script>
    <script src='gservice/refresh.js'></script>
    <script src='gservice/saveData.js'></script>
    <script src='gservice/initialize.js'></script>
    <script src='gservice/hidePin.js'></script>
    <!-- Angular Files -->
    <script src="app.js"></script>
    <script src="gservice.js"></script>
    <script src="routes.js"></script>
    
    <!-- Force Favicon Reload -->
    <link rel="shortcut icon" href="/favicon.ico">
    
  </head>

  <body ng-controller="mapController">

    <div id="main" ng-view>
      <!-- this is where HTML templates will be inserted via route.js -->
    </div>
    <div id="map"></div>
  </body>
</html>
