<html lang="en">
  <head>
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="249488271008-ktn21fpv1l0c1ckokkvpvj431onsj7qs.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  </head>
  <body>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="top: 48%; left: 46%; position: absolute;"></div>
    <script>
      function onSignIn(googleUser) {
        var profile = googleUser.getBasicProfile();
        var id_token = googleUser.getAuthResponse().id_token;
        // profile.getId() Don't send this directly to your server!
        
        // Send email and id token to server
        $.ajax({
          url: '/login',
          method: 'POST',
          contentType: 'application/json',
          data: JSON.stringify({
            email: profile.getEmail(),
            token: id_token
          })
        }).done(function(data) {
          // Redirect on sign-in
          data = JSON.parse(data);
          window.location.href = data.url;
        });
      };
    </script>
  </body>
</html>